/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1.3px;
  word-spacing: 0.7px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: snow;
}
section.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}
section.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../image-13.jpg) no-repeat center;
  background-size: cover;
  filter: brightness(0.5);
}
.container {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 3;
  opacity: 0.5;
  border-radius: 20px;
}
.logo {
  color: snow;
  font-size: 40px;
  padding: 10px;
  margin-left: -60px;
}
.header-nav {
  width: 45%;
}
.header-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 20px;
  position: absolute;
  right: 30px;
  top: 26px;
}
.header-list li {
  padding: 0 25px;
  font-size: 20px;
}
.header-list li a {
  text-decoration: none;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 30%;
}
.text-main p {
  font-size: 2.5rem;
  padding: 5px 0;
  font-weight: 500;
}
.hero-para {
  font-size: 2.3rem;
  font-weight: 400;
}
.text-main h2 {
  font-size: 4rem;
  font-weight: 600;
}
span#type {
  color: darkturquoise;
}
span.typed-cursor {
  color: darkturquoise;
}
button {
  color: darkturquoise;
  padding: 17px 35px;
  border-radius: 45px;
  background: transparent;
  border: 2px solid;
  font-size: 20px;
  margin-top: 50px;
}
button:hover {
  color: snow;
  background-color: darkturquoise;
  border: darkturquoise;
}
.about-me {
  background-color: black;
}
.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 30px;
}
h2.fade-text {
  font-size: 8rem;
  opacity: 0.1;
  font-weight: 600;
  color: #6c757d !important;
}
p.main-head {
  position: absolute;
  top: 38%;
  font-size: 2.25rem;
  text-align: center;
  opacity: 0.9;
  font-weight: 600;
  line-height: 1.6;
  width: 27%;
}
span.about_border {
  border-color: darkturquoise;
  margin: 0 auto;
  width: 80px;
  display: block;
  border-bottom: 1px solid darkturquoise;
  border-width: 3px;
}

.name {
  color: darkturquoise;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left-side {
  text-align: left;
  font-size: 1rem;
  padding-bottom: 40px;
  padding-right: 50px;
  width: 66.66%;
}
h2.left-head {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
p.first-para,
p.second-para {
  font-size: 1.3rem;
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.5);
  
}
.about_container {
  background-color: #212529;
}
.right-side {
  font-size: 20px;
  margin-left: -110px;
  margin-top: -10%;
}
.right-side ul li {
  margin-bottom: 0.5rem;
}
a.mailto {
  text-decoration: none;
}
span.right-name,
span.right-Email,
span.right-Age,
span.right-From,
span.right-profile {
  font-weight: 600;
  margin-right: 0.9rem;
  font-size: 1.5rem;
  color: darkturquoise;
}
section.resume {
  background-color: #343a40;
}
.resume_container {
  width: 90%;
  margin: 0 auto;
}
h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.resume_row {
  display: flex;
  justify-content: space-between;
}
.left-column,
.right-column {
  width: 50%;
  margin: 0 20px;
}
.left-education,
.right-education {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  border: 1px solid darkturquoise;
  box-shadow: 4px 7px 5px 2px rgba(0, 0, 0, 0.7);
}

p.year {
  padding: 5px;
  border: 1px solid red;
  width: fit-content;
  background: red;
  border-radius: 5px;
  margin-bottom: 10px;
  opacity:0.8;
}
h2.education {
  color: darkturquoise;
}

p.school,
p.intro {
  color: #dae1e2;
  font-size: 18px;
}
.resume_skill_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skill {
  padding: 30px;
  margin: 50px;
  color: darkturquoise;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  font-size: 18px;
  margin-left: -10px;
  font-weight: 600;
  letter-spacing: 3px;
  box-shadow: 4px 7px 5px 2px rgba(0, 0, 0, 0.7);
}
h2.resume_skill {
  text-align: center;
  position: relative;
  top: 30px;
  letter-spacing: 1.8px;
  font-size: 2rem;
}
.skill:hover {
  background-color: darkturquoise;
  color: snow;
}
section.projects{
     background-color: #212529;
}
.projects_container {
  width: 90%;
  margin: 0 auto;
}
.projects_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.column-one,.column-two {
  width: 50%;
  margin: 50px;
}
.project-one,.project-two,.project-three,.project-four {
  margin-bottom: 50px;
  border-radius: 10px;
  position: relative;
  width: 100%;
}
img{
  width: 100%;
    height: 50vh;
    border-radius: 10px;
    display: block;
    opacity: 0.7;
    -webkit-box-shadow: 9px 10px 14px -4px rgb(255 255 255 / 15%);
}
.projects_border{
  border-color: darkturquoise;
    margin: 0 auto;
    width: 80px;
    display: block;
    border-bottom: 1px solid darkturquoise;
    border-width: 3px;
    position: absolute;
    top: 56%;
}
.overlay{
  position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    border-radius: 10px;
}
.project-four:hover .overlay{
  height: 100%;
    opacity: 0.8;
}
.project-three:hover .overlay{
  height: 100%;
    opacity: 0.8;
}
.project-two:hover .overlay{
  height: 100%;
    opacity: 0.8;
}
.project-one:hover .overlay{
  height: 100%;
    opacity: 0.8;
}
.contact{
  position: relative;
  background-color: black;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}
