*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.child-one{
    background-image: url(../image-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid red;
    margin: 0 auto;
    width: 1000%;
    height: 100vh;
}