*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
@media(max-width: 600px){
    .child-one{

    }
    button{

    }
    nav ul{

    }
    li{

    }
    
}
.child-one{
    background-image: url(../image-13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    
}
section h2{
    font-size: 36px;
    font-weight: bolder;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background: transparent;
    color: snow;
}
.logo{
    line-height: 1.5;
    font-size: 45px;
    font-weight: 600;
    color: snow;
    position: absolute;
    left: 100px;
    top: 18px;
    
}
nav{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    position: fixed;
    

}
 ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 900 35vmin/50vh cookie, cursive;
    position: absolute;
    right: 80px;
    top: 42px;
    color: snow;
}
 li{
    margin-left: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
}
section{
    height: 82vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font: 50 5vmin/14vh cookie, cursive;
    text-align: center;
    position: relative;
    top: -20px;
    color: snow;
    position: relative;
    top: 11%;
}
section h3{
    font-size: 26px;
    font-weight: 200 !important;
    line-height: 3.0;
}
span.type{
    color: mediumturquoise;
}
span.typed-cursor{
    color: mediumturquoise;
}
button{
    font-size: 26px;
    border-radius: 50px;
    padding: 10px 20px;
    position: fixed;
    top: 75%;
    left: 43%;
    font-family: cursive;
    background-color: transparent;
    color: mediumturquoise;
    border: 2px solid mediumturquoise;
}
.colored{
    color: mediumturquoise;
}
.button:hover{
    background-color: mediumturquoise;
    color: white;
   
}